# addition

In [1]:
print(3+5)

8

# subtraction

In [2]:
print(5-3)

2

# multiplication

In [3]:
print(5*3)

15

# division

In [4]:
print(5/3)

1.6666666666666667

# exponential

In [6]:
print(3**5)

243

# modules

In [5]:
print(5%3)

2

# floor division operator

In [8]:
print(5//3)

1

# check data type

In [9]:
print(type(10))

<class 'int'>

In [10]:
print(type(3.8))

<class 'float'>

In [12]:
print(type(1+3j))

<class 'complex'>

In [14]:
print(type('Asabeneh'))

<class 'str'>

In [16]:
print(type([1, 2, 3]))

<class 'list'>

In [17]:
print(type({'name': 'sai'}))

<class 'dict'>

In [19]:
print(type({1.2, 2.3, 3.4}))

<class 'set'>

In [20]:
print(type((1.2, 2.3, 3.4)))

<class 'tuple'>

In [21]:
print(type(3== 3))

<class 'bool'>

In [23]:
print(type(3>= 3))

<class 'bool'>

# Arithmatic opration in python

## integers

In [24]:
print('Addition:', 1+ 2)

Addition: 3

In [25]:
print('Subtraction:', 3- 2)

Subtraction: 1

In [27]:
print('Multiplication:', 1* 2)

Multiplication: 2

In [28]:
print('Division:', 7/2)

Division: 3.5

In [29]:
print('Divition without the remainder:', 7//2)

Divition without the remainder: 3

In [30]:
print('Modules:', 3%2)

Modules: 1

In [31]:
print('Exponential:', 5**2)

Exponential: 25

# floating numbers

In [33]:
print('Floating Number,PI', 3.14)

Floating Number,PI 3.14

In [35]:
print('Floating Number, gravity', 9.81)

Floating Number, gravity 9.81

# complex number

In [36]:
print('complex number:', 1 + 1j)

complex number: (1+1j)

In [37]:
print('Multiplying complex number:',(1 + 1j) * (1 - 1j))

Multiplying complex number: (2+0j)

# Arithmetic operations and assigning the result to a variable

In [39]:
a = 5
b = 3
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
expoential = a ** b
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', expoential)

a + b =  8
a - b =  2
a * b =  15
a / b =  1.6666666666666667
a % b =  2
a // b =  1
a ** b =  125

# Declaring values and organizing them together

In [42]:
num_one = 2
num_two = 5
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_one
remainder = num_two % num_one
print('total:',total)
print('diffrence:',diff)
print('product:', product)
print('division:', div)
print('remainder:',remainder)

total: 7
diffrence: 3
product: 10
division: 2.5
remainder: 1

# Calculating Area of Circle

In [43]:
radius = 10
area_of_circle = 3.14 * radius ** 2
print('area of circle:',area_of_circle)

area of circle: 314.0

# Calculating Area Of Rectangle

In [44]:
length = 19
width = 30
area_of_rectangle = length * width
print('area of rectangle:', area_of_rectangle)

area of rectangle: 570

# Calculating a weight of an object

In [45]:
mass = 54
gravity = 9.81
weight = mass * gravity
print(weight,'N')

529.74 N

In [46]:
print(3 > 2)
print(3 >= 2)
print(3 < 2)
print(2 < 3)
print(2 <= 3)
print(3 == 2)
print(3 != 2)
print(len('mango') == len('avocodo'))
print(len('mango') != len('avocodo'))
print(len('mango') < len('avocodo'))
print(len('milk') != len('meat'))
print(len('milk') == len('meat'))
print(len('tomato') == len('potato'))
print(len('python') > len('dragon'))

True
True
False
True
True
False
True
False
True
True
False
True
True
False

# Boolean Comparision

In [47]:
print('True == True:', True == True)
print('True == False:', True == False)
print('Flase == False:', False == False)
print(' True and True:', True and True)
print(' True or True:', True or True)

True == True: True
True == False: False
Flase == False: True
 True and True: True
 True or True: True

# Another way comparision

In [59]:
print('1 is 1', 1 is 1)
print('1 is not 2', 1 is not 2)
print('A in Ashi', 'A' in 'Ashi')
print('B in Ashi', 'B' in 'Ashi')
print('Coding' in 'Coding for all')
print('a in an:', 'a' in 'an')
print('4 is 2 ** 2:', 4 is 2 ** 2)

1 is 1 True
1 is not 2 True
A in Ashi True
B in Ashi False
True
a in an: True
4 is 2 ** 2: True

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\ADITYA\AppData\Local\Temp\ipykernel_25464\624047128.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('1 is 1', 1 is 1)
C:\Users\ADITYA\AppData\Local\Temp\ipykernel_25464\624047128.py:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)
C:\Users\ADITYA\AppData\Local\Temp\ipykernel_25464\624047128.py:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)

In [50]:
print(3 > 2 and 4 > 3)
print(3 > 2 and 4 < 3)
print(3 < 2 and 4 < 3)
print(3 > 2 or 4 > 3)
print(3 > 2 or 4 < 3)
print(3 < 2 or 4 < 3)
print(not 3 > 2)
print(not True)
print(not False)
print(not not True)
print(not not False)

True
False
False
True
True
False
False
False
True
True
False

# Variables in Python

In [56]:
first_name = 'SAI'
last_name = 'CHOUDANTE'
country = 'NANDED'
city = 'MAHARASHTRA'
age = 18
is_married = False
skills = ['HTML', 'CSS', 'JS', 'C', 'PYTHON']
personal_info = {
'firstname':'Vansh',
'Lastname':'Taru',
'Country': 'Finland',
'city':'Helanski'}
print('first name:', first_name)
print('first name length:', len(first_name))
print('last name: ', last_name)
print('last name length: ', len(last_name))
print('country: ', country)
print('city: ', city)
print('age: ', age)
print('Married: ', is_married)
print('skills: ', skills)
print('personal information: ', personal_info)

first name: SAI
first name length: 3
last name:  CHOUDANTE
last name length:  9
country:  NANDED
city:  MAHARASHTRA
age:  18
Married:  False
skills:  ['HTML', 'CSS', 'JS', 'C', 'PYTHON']
personal information:  {'firstname': 'Vansh', 'Lastname': 'Taru', 'Country': 'Finland', 'city': 'Helanski'}

# Declaring multiple variables in one line

In [58]:
first_name, last_name, country, age, is_married = 'Vansh', 'Taru','Helsink', 9, False
print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Vansh Taru Helsink 9 False
First name: Vansh
Last name:  Taru
Country:  Helsink
Age:  9
Married:  False