In [1]:
a=10
b=20
a
b

20

In [2]:
a=10
b=20
print(a)
print(b)

10
20

In [3]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [4]:
num1=20
num2=30
add=num1+num2
print(add)

50

# print result with string

In [5]:
num1=20
num2=30
add=num1+num2
print('The addition of',num1,'and','num2','is=',add)

The addition of 20 and num2 is= 50

In [6]:
name='Mamta'
age=20
city='Nanded'

In [7]:

print('My name is', name,'and i am',age,'years old form',city)

My name is Mamta and i am 20 years old form Nanded

# print Format Method

In [8]:
num1=20
num2=30
add=num1+num2
print('The Addition of {} and {} is= {}'.format(num1,num2,add))

The Addition of 20 and 30 is= 50

In [10]:
name='Mamta'
age=20
city='Nan'

In [11]:
print('hello my name is {}, and i am {} years old from{}'.format(name,age,city))

hello my name is Mamta, and i am 20 years old fromNan

In [12]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3
avg1=round((num1+num2+num3)/3,2)

print('The average of {}, {},and {} is= {} or {}'.format(num1,num2,num3,avg,avg1))

The average of 100, 25,and 333 is= 152.66666666666666 or 152.67

In [13]:
round(avg,2)

152.67

In [14]:
num1=20
num2=30
add=num1+num2
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 20 and 30 is= 50

In [15]:
name='Mamta'
age=20
city='Nan'

In [16]:
print(f'hello my name is {name}, and i am {age} year old, from {city}.')

hello my name is Mamta, and i am 20 year old, from Nan.

In [17]:
num1=100
num2=25
num3=333
avg=round((num1+num2+num3)/3,2)

In [18]:
print(f'The avrage of {num1}, {num2} and {num3} is = {avg}')

The avrage of 100, 25 and 333 is = 152.67

In [19]:
num1=10
num2=20
add = num1+ num2
print('The addition of',num1,'and',num2,'is=',add)
print('The addition of {} and {} is= {}'.format(num1,num2,add))
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

# end statement

In [20]:
print('hello')
print('good morning')

hello
good morning

In [22]:
print('hello', end=' ')
print('world good day')

hello world good day

# seprator

In [23]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [24]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [25]:
print('hello','hai','how are you',sep='@')

hello@hai@how are you

In [26]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [27]:
print(3,('.'))

3 .

In [28]:
print(3,'.',sep='')

3.

In [29]:
print(1,2,end=' ')
print(3,'.',sep='')

1 2 3.

# complex Number

In [1]:
z = 3 + 4j

In [2]:
z

(3+4j)

In [3]:
a = 3+ 4j
b = 1+ 2j

In [5]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

(4+6j)
(2+2j)
(-5+10j)
(2.2-0.4j)

In [11]:
z = 3 + 4j
print(abs(z))
print(z.conjugate())

5.0
(3-4j)

In [8]:
import cmath
z = 1 +1j
print(cmath.phase(z))
print(cmath.polar(z))
print(cmath.sqrt(z))

0.7853981633974483
(1.4142135623730951, 0.7853981633974483)
(1.09868411346781+0.45508986056222733j)