In [189]:
tup1 = ()
tup1

()

In [190]:
tup2 = (10,20,30)
tup2

(10, 20, 30)

In [191]:
tup3 = (10,77,30,66,60.89)
tup3

(10, 77, 30, 66, 60.89)

In [192]:
tup4 = ('one','two', 'three')
tup4

('one', 'two', 'three')

In [193]:
tup5 = ('Asif',25,(50, 100),(150, 90))
tup5

('Asif', 25, (50, 100), (150, 90))

In [194]:
tup6= (100, 'Asif', 17.765)
tup6

(100, 'Asif', 17.765)

In [195]:
tup7 = ('Asif', 25, [50, 100],[150, 90], {'john', 'Devid'}, (99, 22, 33))
tup7

('Asif', 25, [50, 100], [150, 90], {'Devid', 'john'}, (99, 22, 33))

In [196]:
len(tup7)

6

# Tuple Indexing

In [197]:
tup2[0]

10

In [198]:
tup4[0]

'one'

In [199]:
tup4[0][0]

'o'

In [200]:
tup4[-1]

'three'

In [201]:
tup5[-1]

(150, 90)

# Tuple slicing

In [202]:
mytuple = ('one','two', 'three', 'four', 'five', 'six', 'seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [203]:
mytuple[0:3]

('one', 'two', 'three')

In [204]:
mytuple[2:5]

('three', 'four', 'five')

In [205]:
mytuple[:3]

('one', 'two', 'three')

In [206]:
mytuple[:2]

('one', 'two')

In [207]:
mytuple[-3:]

('six', 'seven', 'eight')

In [208]:
mytuple[-2:]

('seven', 'eight')

In [209]:
mytuple[-1]

'eight'

In [210]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change

In [211]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [212]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple

# Loop Through a Tuple

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [ ]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple Membership

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
'one' in mytuple

True

In [ ]:
'ten' in mytuple

False

In [ ]:
if 'three' in mytuple:
    print('Three is present in the Tuple')
else:
    print('Three is not  present in the tuple')

Three is present in the Tuple

In [ ]:
if 'three' in mytuple:
    print('eleven is present in the tuple')
else:
    print('eleven is not  present in the tuple')

eleven is present in the tuple

# Index Position

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
mytuple.index('one') # Index of first element equal to 'one

0

In [ ]:
mytuple.index('five') # Index of first element equal to 'one

4

In [213]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [214]:
mytuple.index('one')

0

# sorting

In [215]:
mytuple2 = (43,67,99,12,6,90,67)

In [ ]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [ ]:
sorted(mytuple2,reverse=True)

[99, 90, 67, 67, 43, 12, 6]